UGC_RIVERZ.json
{
  "name": "Riverz - UGC Generator",
  "nodes": [
    {
      "parameters": {
        "path": "ugc/generate",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {
          "responseData": "={{ { \"success\": true, \"generation_id\": $json.generation_id, \"message\": \"Generation started\" } }}"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-2400, -112],
      "id": "webhook-riverz-start",
      "name": "Riverz Webhook",
      "webhookId": "riverz-ugc-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "generation_id",
              "value": "={{ $json.generation_id }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "avatar_url",
              "value": "={{ $json.avatar.url }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "script",
              "value": "={{ $json.script }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "voiceId",
              "value": "={{ $json.voiceId }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "aspectRatio",
              "value": "={{ $json.aspectRatio || '9:16' }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "model",
              "value": "={{ $json.model || 'veo3_fast' }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "prompt",
              "value": "={{ $json.script }}",
              "type": "string"
            },
            {
              "id": "9",
              "name": "image_urls",
              "value": "={{ $json.avatar.url }}",
              "type": "string"
            },
            {
              "id": "10",
              "name": "image_urls_array",
              "value": "={{ [$json.avatar.url] }}",
              "type": "array"
            },
            {
              "id": "11",
              "name": "image_urls_quoted",
              "value": "=\"\\\"\" + $json.avatar.url + \"\\\"\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-2256, -112],
      "id": "prepare-riverz-data",
      "name": "Prepare Riverz Data"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Analyze the given image and determine if it primarily depicts a product or a character, or BOTH.\n\n- If the image is of a product, return the analysis in YAML format with the following fields:\n\nbrand_name: (Name of the brand shown in the image, if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used)\n    name: (Descriptive name of the color)\nfont_style: (Describe the font family or style used: serif/sans-serif, bold/thin, etc.)\nvisual_description: (A full sentence or two summarizing what is seen in the image, ignoring the background)\n3d_sense: (environmental sense about product size and so on)\n\n- If the image is of a character, return the analysis in YAML format with the following fields:\n\ncharacter_name: (Name of the character if visible or inferable)\ncolor_scheme:\n  - hex: (Hex code of each prominent color used on the character)\n    name: (Descriptive name of the color)\noutfit_style: (Description of clothing style, accessories, or notable features)\nvisual_description: (A full sentence or two summarizing what the character looks like, ignoring the background)\n3d_sense: (environmental sense about product size and so on)\n\nOnly return the YAML. Do not explain or add any other comments.\n\n\n- if it is BOTH, return both descriptions as guided above in YAML format\n",
        "imageUrls": "={{ $json.image_urls }}",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [-1712, -112],
      "id": "358b6e41-3ac0-4e1f-9e85-155d30d1c44d",
      "name": "Describe Img",
      "credentials": {
        "openAiApi": {
          "id": "P3d51Tc5hfG6ycaP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your task: Create 1 image prompt as guided by your system guidelines.\n\nMake sure that the reference image is depicted as ACCURATELY as possible in the resulting images, especially all text.\n\n***\n\n\nThese are the user's instructions:\n{{ $node['Prepare Riverz Data'].json.prompt }}\n\n***\nDescription of the reference image:\n{{ $('Describe Img').first().json.choices[0].message.content }}\n\n\n***\nThe user's preferred aspect ratio: {{ $node['Prepare Riverz Data'].json.aspectRatio }}\n\n\n\n***\nUse the Think tool to double check your output\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## SYSTEM PROMPT:  Image Prompt Generator\n\n\nDefault: If the user's instructions are not very detailed, just default the prompt to: put this (product) into the scene with the (character). \n\n***\n\nIf the user wants UGC authentic casual content: Use **casual UGC-style scenes** unless the user specifies otherwise, and follow the instructions below.\n\n  If the user explicitly requests a different style or setting, follow their instructions.\n\n  Your task: Take the reference image or the product in the reference image and place it into realistic, casual scenes as if captured by everyday content creators or influencers.  \n\n  All outputs must feel **natural, candid, and unpolished** — avoiding professional or overly staged looks. This means:\n\n    - Everyday realism with authentic, relatable settings\n    - Amateur-quality iPhone photo style\n    - Slightly imperfect framing and lighting\n    - Candid poses and genuine expressions\n    - Visible imperfections (blemishes, messy hair, uneven skin, texture flaws)\n    - Real-world environments left as-is (clutter, busy backgrounds)\n    - Always preserve all visible product **text accurately** (logos, slogans, packaging claims). Never invent extra claims or numbers.\n\n  **Camera parameter** must always include casual realism descriptors such as:  \n  unremarkable amateur iPhone photos, reddit image, snapchat photo, Casual iPhone selfie, slightly uneven framing, Authentic share, slightly blurry, Amateur quality phone photo\n\n  **Dialogue/video generation is not required. Only image prompts are generated.**\n\nAvoid mentioning the name of any copyrighted characters in the prompt\n\n  ---\n\n  A – Ask:\n    Generate **image generation instructions only** for AI models based on the user's request, ensuring exact YAML format.  \n    Default to **vertical aspect ratio** if unspecified.  \n    Always include both:\n      - `image_prompt` (stringified YAML with scene details)  \n      - `aspect_ratio_image` (\"3:2\" or \"2:3\")  \n\n  ---\n\n  G – Guidance:\n    - Always follow UGC-style casual realism principles listed above.\n    - Ensure diversity in gender, ethnicity, and hair color when applicable. Default to actors in 21 to 38 years old unless specified otherwise.\n    - Default to casual real-world environments unless a setting is explicitly specified.\n    - Avoid double quotes in the image prompts.\n\n  ---\n\n  E – Examples:\n    🟢 good_examples:\n      - |\n        {\n          \"scenes\": [\n            {\n              \"image_prompt\": \"action: character holds product naturally\\ncharacter: infer from the reference image\\nproduct: show product with all visible text clear and accurate\\nsetting: infer from the image or from user instruction\\ncamera: amateur iPhone photo, casual selfie, uneven framing, slightly blurry\\nstyle: candid UGC look, no filters, imperfections intact\\ntext_accuracy: preserve all visible text exactly as in reference image\"}]\n,\n              \"aspect_ratio_image\": \"2:3\"\n            }\n          ]\n        }\n    🔴 bad_examples:\n      - Altering or fabricating product packaging text\n\n  ---\n\n  N – Notation:\n    - Final output is an object containing only:\n      - `image_prompt` → stringified YAMLy\n      - `aspect_ratio_image` → \"3:2\" or \"2:3\" (default vertical → 2:3)\n\n  ---\n\n  T – Tools:\n    - Think Tool: Double-check output for completeness, text accuracy, adherence to UGC realism, and that **only image outputs** are returned.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [-1328, -112],
      "id": "87f6c3e0-056c-421b-aafa-44bf0d691dd1",
      "name": "UGCRobo - Image AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"image_prompt\": \"emotion: ...\\naction: ...\\ncharacter: ...\\nproduct: ...\\nsetting: ...\\ncamera: ...\\nstyle: ...\\ncomposition: ...\\nlighting: ...\\ncolor_palette: ...\\ntypography: ...\\ntext_accuracy: ...\",\n  \"aspect_ratio_image\": \"2:3\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-1344, -224],
      "id": "385287e9-2622-4927-bffb-a2f0ad0ea7ec",
      "name": "Structured Output "
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [-1088, -176],
      "id": "b84fb9d0-03c9-46be-ab8b-27f63fcd3380",
      "name": "Think1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-1088, -320],
      "id": "b3e27990-c645-48a3-8f1e-6813e30cb0cd",
      "name": "GPT1",
      "credentials": {
        "openAiApi": {
          "id": "P3d51Tc5hfG6ycaP",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana/edit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output.image_prompt.replace(/\\\"/g, '\\\\\\\"').replace(/\\n/g, '\\\\n') }}\",\n  \"image_urls\": [\n  {{ $node['Prepare Riverz Data'].json.image_urls_quoted }}\n],\n  \"output_format\": \"jpeg\",\n  \"image_size\": \"{{ $json.output.aspect_ratio_image }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1264, 160],
      "id": "2009160b-939a-42b1-a991-7d993502d1d0",
      "name": "Create Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7ty4CIAWTnmNwwpX",
          "name": "TestRBL1"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-1264, 320],
      "id": "9eb09dc0-c80c-4251-b1d6-3fed6017e35d",
      "name": "Wait",
      "webhookId": "dd1ae21c-d2bc-47de-91d3-f2bb9d6648f8"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1264, 464],
      "id": "b39edf96-f753-455a-92d8-2fcc7969b301",
      "name": "Get Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7ty4CIAWTnmNwwpX",
          "name": "TestRBL1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c895d90-e8bd-42cf-ab58-511c85e8c782",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1264, 624],
      "id": "58a5feec-475d-46ca-81c4-cf5d4ff162c6",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1264, 816],
      "id": "05ac93df-96c6-4b63-a55a-122e6f7d9b09",
      "name": "Get Photo",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7ty4CIAWTnmNwwpX",
          "name": "TestRBL1"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Your task: Create video prompts as guided by your system guidelines.\n\nMake sure that the reference image is depicted as ACCURATELY as possible in the resulting images, especially all text.\n\nFor each of the scenes, make sure the dialogue runs continuously and makes sense. And always have the character just talk about the product and its benefits based on what you understand about the brand, and how it's used. So if it's a drink, talk about the taste; if it's a bag, talk about the design; if it's tech, talk about its features, and so on.\n\nIf the character will mention the brand name, only do so in the FIRST scene.\n\nUnless stated by the user, do not have the character open or eat or use the product. they are just showing it to the camera.\n\nIf the number of videos is not stated, generate 3 scenes.\n\n***\n\nThese are the user's instructions:\n{{ $node['Prepare Riverz Data'].json.prompt }}\n\n***\n\nCount of videos to create: inferred based on their message above. Each video will be 8 seconds long, so calculate how many videos you need to generate based on the user's desired total duration\n\n***\nDescription of the reference image/s. Just use this to understand who the product or character is, don't use it as basis for the dialogue.\n{{ $('Describe Img').first().json.choices[0].message.content }}\n\n\n***\nThe user's preferred aspect ratio: {{ $node['Prepare Riverz Data'].json.aspectRatio }}\n\nThe user's preferred model: {{ $node['Prepare Riverz Data'].json.model }}\n\nThe user's preferred dialogue script: {{ $node['Prepare Riverz Data'].json.script }}\n\n\n***\nUse the Think tool to double check your output\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=system_prompt: |\n  ## SYSTEM PROMPT: UGC-Style Veo3/Veo3_fast Prompt Generator (Video-Only)\n\n  You are a UGC (User-Generated Content) AI agent.  \n  Your task: Take the reference image or the product in the reference image and place it into realistic, casual scenes as if captured by everyday content creators or influencers.  \n\n  All outputs must feel **natural, candid, and unpolished** — avoiding professional or overly staged looks. This means:\n\n    - Everyday realism with authentic, relatable settings\n    - Amateur-quality iPhone photo/video style\n    - Slightly imperfect framing and lighting\n    - Candid poses and genuine expressions\n    - Visible imperfections (blemishes, messy hair, uneven skin)\n    - Real-world environments left as-is (clutter, busy backgrounds)\n\n  We need these videos to look natural and real. So in the prompts, have the Camera parameter always use keywords like these: unremarkable amateur iPhone photos, reddit image, snapchat video, Casual iPhone selfie, slightly uneven framing, Authentic share, slightly blurry, Amateur quality phone photo\n\n  If the dialogue is not provided by the user or you are explicitly asked to create it, generate a casual, conversational line under 150 characters, as if a person were speaking naturally to a friend while talking about the product. Avoid overly formal or sales-like language. The tone should feel authentic, spontaneous, and relatable, matching the UGC style. Use ... to indicate pauses, and avoid special characters like em dashes or hyphens.\n\n\n  A – Ask:\n    Generate **only video generation instructions** for AI models (no image prompts). Infer aspect ratios from vertical/horizontal context; default to vertical if unspecified.\n\n    **Scene count rule:**  \n    - Read the user's requested total video duration and the per-video length (in seconds).  \n    - Calculate the required number of videos by dividing total duration by per-video length, rounding **up** to the nearest integer.  \n    - Output **exactly that many scenes**.  \n    - Never output more or fewer scenes than requested.\n\n  G – Guidance:\n    - Always follow UGC-style casual realism principles listed above.\n    - Ensure diversity in gender, ethnicity, and hair color when applicable. Default to actors in 21 to 38 years old unless specified otherwise.\n    - Use provided scene list when available.\n    - Do not use double quotes in any part of the prompts.\n\n  E – Examples:\n    good_examples:\n      - |\n        {\n          \"scenes\": [\n            {\n              \"video_prompt\": \"dialogue: so tikTok made me buy this... honestly its the best tasting fruit beer in sydney and they donate profits to charity...\\naction: character sits in drivers seat of a parked car, holding the beer can casually while speaking\\ncamera: amateur iphone selfie video, uneven framing, natural daylight\\nemotion: very happy, casual excitement\\ntype: veo3_fast\",\n              \"aspect_ratio_video\": \"9:16\",\n              \"model\": \"veo3_fast\"\n            }\n          ]\n        }\n\n  N – Notation:\n    - Final output is a `\"scenes\"` array at the root level.\n    - The array must contain **exactly `scene_count`** objects, where `scene_count` is the user-calculated number.\n    - Each scene contains:\n      - `video_prompt` → stringified YAML with: dialogue, emotion, voice_type, action, character, setting, camera\n      - `aspect_ratio_video` → \"9:16\" or \"16:9\" (default vertical → 9:16)\n      - `model` → \"veo3\" or \"veo3_fast\"\n\n  T – Tools:\n    - Think Tool: Double-check output for completeness, diversity, adherence to style, and that the number of scenes exactly matches the requested count.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [-992, -112],
      "id": "11051126-adf4-498a-9804-bdb0773add1a",
      "name": "UGCRobo - Video AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"scenes\": [\n    {\n      \"video_prompt\": \"dialogue: ...\\naction: ...\\ncamera: ...\\nemotion: ...\\nvoice_type: ...\\ncharacter: ...\\nsetting: ...\",\n      \"aspect_ratio_video\": \"9:16\",\n      \"model\": \"veo3_fast\"\n    }\n  ]\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-992, -224],
      "id": "72ca1d48-54a7-4065-856d-7eb96d8487e7",
      "name": "Structured Output 1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.scenes",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [-704, -112],
      "id": "1776c2d0-037e-479e-952e-497b5bc76d23",
      "name": "Split Out 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2b596ef-f917-4ed4-a75a-2c0c77887b3c",
              "name": "video_prompt",
              "value": "={{ $('Split Out 1').item.json.video_prompt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-480, -112],
      "id": "4eda54f4-3680-47da-8030-d4b459afe0e3",
      "name": "Set / Edit Fields (prompts)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-272, -112],
      "id": "6325c28c-2a61-44e8-9ace-15e65f396398",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5e66b02-7b52-4d7f-92b2-a6ba39305829",
              "name": "=image_url",
              "value": "={{ $item(0).$node[\"Get Photo\"].json.images[0].url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-272, 160],
      "id": "8c292c06-9b70-4d31-83d0-39194f40438d",
      "name": "Starting Frame",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e87c37fb-141c-403f-9cf6-977f9e47c27d",
              "name": "image_url",
              "value": "={{ $node['Save Last Frame'].json.image_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-272, 320],
      "id": "b6268377-5487-45cb-ba9d-31f2351b3b2a",
      "name": "Change Photo",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-272, 464],
      "id": "8ad3106e-8562-406c-8bfb-5868d62f92eb",
      "name": "Merge1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Prefer 2nd image_url, else 1st. Return ONE item.\nconst items = $input.all();\n\nconst pickUrl = (it) => {\n  if (!it) return null;\n  const j = it.json || {};\n  // Try common shapes\n  const url =\n    j.image_url ??\n    j.last_frame_url ??\n    j.images?.[0]?.url ??\n    j[\"last_frame \"]; // handles accidental trailing space\n  if (typeof url !== 'string') return null;\n  const u = url.trim();\n  return u && u !== 'null' && u !== 'undefined' ? u : null;\n};\n\nconst second = pickUrl(items[1]);\nconst first  = pickUrl(items[0]);\n\nconst chosen = second ?? first ?? null;\nreturn [{ json: { image_url: chosen } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-48, -112],
      "id": "f74681ac-7bc3-4a47-b904-2f0b2193e94f",
      "name": "Check For New Frame"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"prompt\":\"{{ $node['Loop Over Items'].json.video_prompt.replace(/\\n/g, '\\\\n').replace(/\"/g, '\\\\\"') }}\",\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"9:16\",\n  \"imageUrls\": \"{{ $json.image_url }}\"\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-976, 160],
      "id": "1fce6877-9f1f-4f08-99d1-fe0ab122b0e7",
      "name": "Create Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7ty4CIAWTnmNwwpX",
          "name": "TestRBL1"
        }
      }
    },
    {
      "parameters": {
        "amount": 200
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-976, 320],
      "id": "da5eda9b-133a-4b22-97fd-4434263e550e",
      "name": "Wait 2",
      "webhookId": "98a829fa-aa5d-451d-8ca7-7d48456636ec"
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Create Video').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-976, 464],
      "id": "115cc1a2-9656-4174-9b54-f94ce7002293",
      "name": "Get Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7ty4CIAWTnmNwwpX",
          "name": "TestRBL1"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "957f40c4-00b8-4caa-9bd7-065dcaf2cb49"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "52ad92ea-901f-4af8-a462-84b045dd2803",
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "In Progress"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "33856ccc-6169-44c4-b086-d0cb34a20091",
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-976, 624],
      "id": "c8207151-5f35-4e99-88f9-07efeebb877f",
      "name": " 🟢 Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-704, 1248],
      "id": "955e0108-8155-492e-b8c8-f797769d6ab6",
      "name": "Merge 3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/topaz/upscale/video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $json.data.response.resultUrls[0] }}\",\n  \"upscale_factor\": 1.6\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-704, 160],
      "id": "091ed33c-f2ac-4dc0-a866-4500e08c1fc3",
      "name": "Upscale Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7ty4CIAWTnmNwwpX",
          "name": "TestRBL1"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-704, 320],
      "id": "0fd907ca-1464-4ae0-9ada-d1ff0308c4ed",
      "name": "Wait 4",
      "webhookId": "80ee44c1-22cd-4b42-bf19-e2df871a9a25"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-704, 464],
      "id": "0f3dbfc6-74bc-4d4f-98b1-3766cf0960f9",
      "name": "Get Upscaled Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7ty4CIAWTnmNwwpX",
          "name": "TestRBL1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c435ba22-c5ce-498a-a6c8-b52c0f3f2bcc",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-704, 624],
      "id": "e2a71d47-483d-4008-bd18-57a2374c4327",
      "name": "If 4"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-704, 816],
      "id": "217d87f3-4062-4fe6-b588-7adc83919bef",
      "name": "Get Video 3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7ty4CIAWTnmNwwpX",
          "name": "TestRBL1"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://droidapps.one/frame/last",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ffmpeg_ca4fc7743f7d741047e964dde9b1ded52db38c79e9cdb730900c533e0a9738a9"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $node['Get Upscaled Video'].json.video.url }}"
            },
            {
              "name": "epsilon",
              "value": "0.10"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-480, 160],
      "id": "b1a9483e-ec2c-44e2-828e-bd2cd1eb7d8a",
      "name": "Create Last Frame"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-480, 320],
      "id": "e4fd5965-18a4-4d94-8ee7-5ed76d5c19b2",
      "name": "Wait 5",
      "webhookId": "c4908fe5-3b8d-4e5e-b658-7a99a67c17fd"
    },
    {
      "parameters": {
        "url": "={{ $('Create Last Frame').item.json.status_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-480, 464],
      "id": "ce114221-d54c-4724-8337-185378341a47",
      "name": "Get Last Frame"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ca326ead-198e-4c5f-b264-3690761cd8d9",
              "leftValue": "={{ $binary.data.fileExtension }}",
              "rightValue": "jpg",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-480, 624],
      "id": "e0c84ffb-649e-4fd7-9767-a16c727b69ab",
      "name": "If 5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e87c37fb-141c-403f-9cf6-977f9e47c27d",
              "name": "image_url",
              "value": "={{ $json.status_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-480, 816],
      "id": "7821547c-2713-42d9-8224-10f17e5bec6c",
      "name": "Save Last Frame"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b755010-5243-422f-b9ba-c3c5011604f0",
              "name": "video_url",
              "value": "={{ $('Get Video 3').item.json.video.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-272, 624],
      "id": "5247d10a-cbf3-4986-afc6-e6eda4bab78a",
      "name": "Save Videos"
    },
    {
      "parameters": {
        "jsCode": "// Run Once for All Items\nconst items = $input.all();\nconst exts = /\\.(mp4|mov|webm|m3u8)(\\?|$)/i;\n\nfunction pickUrl(obj) {\n  if (!obj || typeof obj !== 'object') return null;\n\n  // common direct keys\n  for (const k of ['video_url','videoUrl','url','uri']) {\n    const v = obj[k];\n    if (typeof v === 'string' && exts.test(v)) return v.trim();\n  }\n\n  // common nested shapes\n  const cand =\n    obj.video?.url || obj.video?.uri ||\n    obj.output?.video?.url || obj.output?.video?.uri ||\n    obj.output?.video_url;\n  if (typeof cand === 'string' && exts.test(cand)) return cand.trim();\n\n  // deep scan\n  const stack = [obj], seen = new Set();\n  while (stack.length) {\n    const cur = stack.pop();\n    if (!cur || typeof cur !== 'object' || seen.has(cur)) continue;\n    seen.add(cur);\n\n    for (const val of Object.values(cur)) {\n      if (typeof val === 'string' && exts.test(val)) return val.trim();\n      if (Array.isArray(val)) {\n        for (const e of val) {\n          if (typeof e === 'string' && exts.test(e)) return e.trim();\n          if (e && typeof e === 'object') stack.push(e);\n        }\n      } else if (val && typeof val === 'object') {\n        stack.push(val);\n      }\n    }\n  }\n  return null;\n}\n\nconst urls = Array.from(new Set(items.map(it => pickUrl(it.json)).filter(Boolean)));\nconst quotedCsv = urls.map(u => `\"${u}\"`).join(',');\n\nreturn [{ json: { video_urls: quotedCsv } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-48, 160],
      "id": "9ae2fe89-4c28-444c-948c-5843de31d3b9",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/ffmpeg-api/merge-videos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_urls\": [\n{{ $json.video_urls }}\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-48, 320],
      "id": "e72967ca-52f3-4210-87a6-ebe3c8307fa6",
      "name": "Combine Clips 2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7ty4CIAWTnmNwwpX",
          "name": "TestRBL1"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-48, 464],
      "id": "ddc510ee-0458-40a2-a3a8-1eb1ad6d394f",
      "name": "Wait 11",
      "webhookId": "982727e9-9948-4d33-b682-9907e053efb0"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-48, 624],
      "id": "91bdd874-f51b-4f60-891d-ae9c1f4ef96d",
      "name": "Get Final Video 2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7ty4CIAWTnmNwwpX",
          "name": "TestRBL1"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4c895d90-e8bd-42cf-ab58-511c85e8c782",
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-48, 816],
      "id": "9b4962f1-a67f-4344-8ca6-9e0d982d610c",
      "name": "If 11"
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-48, 960],
      "id": "bfcb5e43-8538-43da-9b8d-25d22bf124f3",
      "name": "Get Video 8",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7ty4CIAWTnmNwwpX",
          "name": "TestRBL1"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://znrabzpwgoiepcjyljdk.supabase.co/rest/v1/generations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $node['Prepare Riverz Data'].json.generation_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.supabaseServiceKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"completed\",\n  \"result_url\": \"{{ $('Get Video 8').item.json.video.url }}\",\n  \"completed_at\": \"{{ $now().toISO() }}\",\n  \"error_message\": null\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [160, 160],
      "id": "update-generation-success",
      "name": "Update Generation Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-service-key",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://znrabzpwgoiepcjyljdk.supabase.co/rest/v1/generations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $node['Prepare Riverz Data'].json.generation_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseServiceKey }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.supabaseServiceKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"failed\",\n  \"error_message\": \"{{ $json.error?.message || 'Generation failed' }}\",\n  \"completed_at\": \"{{ $now().toISO() }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [160, 320],
      "id": "update-generation-error",
      "name": "Error Handler",
      "continueOnFail": false,
      "onError": "continueErrorOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "supabase-service-key",
          "name": "Supabase Service Key"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Riverz Webhook": {
      "main": [[{"node": "Prepare Riverz Data", "type": "main", "index": 0}]]
    },
    "Prepare Riverz Data": {
      "main": [[{"node": "Describe Img", "type": "main", "index": 0}]]
    },
    "Describe Img": {
      "main": [[{"node": "UGCRobo - Image AI Agent", "type": "main", "index": 0}]]
    },
    "UGCRobo - Image AI Agent": {
      "main": [[{"node": "Create Image", "type": "main", "index": 0}]]
    },
    "Structured Output ": {
      "ai_outputParser": [[{"node": "UGCRobo - Image AI Agent", "type": "ai_outputParser", "index": 0}]]
    },
    "Think1": {
      "ai_tool": [[{"node": "UGCRobo - Video AI Agent", "type": "ai_tool", "index": 0}, {"node": "UGCRobo - Image AI Agent", "type": "ai_tool", "index": 0}]]
    },
    "GPT1": {
      "ai_languageModel": [[{"node": "UGCRobo - Video AI Agent", "type": "ai_languageModel", "index": 0}, {"node": "UGCRobo - Image AI Agent", "type": "ai_languageModel", "index": 0}, {"node": "Structured Output 1", "type": "ai_languageModel", "index": 0}, {"node": "Structured Output ", "type": "ai_languageModel", "index": 0}]]
    },
    "Create Image": {
      "main": [[{"node": "Wait", "type": "main", "index": 0}]]
    },
    "Wait": {
      "main": [[{"node": "Get Image", "type": "main", "index": 0}]]
    },
    "Get Image": {
      "main": [[{"node": "If", "type": "main", "index": 0}]]
    },
    "If": {
      "main": [[{"node": "Get Photo", "type": "main", "index": 0}], [{"node": "Wait", "type": "main", "index": 0}]]
    },
    "Get Photo": {
      "main": [[{"node": "UGCRobo - Video AI Agent", "type": "main", "index": 0}], [{"node": "Error Handler", "type": "main", "index": 0}]]
    },
    "UGCRobo - Video AI Agent": {
      "main": [[{"node": "Split Out 1", "type": "main", "index": 0}]]
    },
    "Structured Output 1": {
      "ai_outputParser": [[{"node": "UGCRobo - Video AI Agent", "type": "ai_outputParser", "index": 0}]]
    },
    "Split Out 1": {
      "main": [[{"node": "Set / Edit Fields (prompts)", "type": "main", "index": 0}]]
    },
    "Set / Edit Fields (prompts)": {
      "main": [[{"node": "Loop Over Items", "type": "main", "index": 0}]]
    },
    "Loop Over Items": {
      "main": [[{"node": "Code", "type": "main", "index": 0}], [{"node": "Starting Frame", "type": "main", "index": 0}, {"node": "Change Photo", "type": "main", "index": 0}]]
    },
    "Starting Frame": {
      "main": [[{"node": "Merge1", "type": "main", "index": 0}]]
    },
    "Change Photo": {
      "main": [[{"node": "Merge1", "type": "main", "index": 1}]]
    },
    "Merge1": {
      "main": [[{"node": "Check For New Frame", "type": "main", "index": 0}]]
    },
    "Check For New Frame": {
      "main": [[{"node": "Create Video", "type": "main", "index": 0}]]
    },
    "Create Video": {
      "main": [[{"node": "Wait 2", "type": "main", "index": 0}]]
    },
    "Wait 2": {
      "main": [[{"node": "Get Video", "type": "main", "index": 0}]]
    },
    "Get Video": {
      "main": [[{"node": " 🟢 Switch", "type": "main", "index": 0}]]
    },
    " 🟢 Switch": {
      "main": [[{"node": "Merge 3", "type": "main", "index": 0}], [{"node": "Wait 2", "type": "main", "index": 0}], [{"node": "Error Handler", "type": "main", "index": 0}]]
    },
    "Merge 3": {
      "main": [[{"node": "Upscale Video", "type": "main", "index": 0}]]
    },
    "Upscale Video": {
      "main": [[{"node": "Wait 4", "type": "main", "index": 0}]]
    },
    "Wait 4": {
      "main": [[{"node": "Get Upscaled Video", "type": "main", "index": 0}]]
    },
    "Get Upscaled Video": {
      "main": [[{"node": "If 4", "type": "main", "index": 0}]]
    },
    "If 4": {
      "main": [[{"node": "Get Video 3", "type": "main", "index": 0}], [{"node": "Wait 4", "type": "main", "index": 0}]]
    },
    "Get Video 3": {
      "main": [[{"node": "Create Last Frame", "type": "main", "index": 0}]]
    },
    "Create Last Frame": {
      "main": [[{"node": "Wait 5", "type": "main", "index": 0}]]
    },
    "Wait 5": {
      "main": [[{"node": "Get Last Frame", "type": "main", "index": 0}]]
    },
    "Get Last Frame": {
      "main": [[{"node": "If 5", "type": "main", "index": 0}]]
    },
    "If 5": {
      "main": [[{"node": "Save Last Frame", "type": "main", "index": 0}], [{"node": "Wait 5", "type": "main", "index": 0}]]
    },
    "Save Last Frame": {
      "main": [[{"node": "Save Videos", "type": "main", "index": 0}]]
    },
    "Save Videos": {
      "main": [[{"node": "Loop Over Items", "type": "main", "index": 0}]]
    },
    "Code": {
      "main": [[{"node": "Combine Clips 2", "type": "main", "index": 0}]]
    },
    "Combine Clips 2": {
      "main": [[{"node": "Wait 11", "type": "main", "index": 0}]]
    },
    "Wait 11": {
      "main": [[{"node": "Get Final Video 2", "type": "main", "index": 0}]]
    },
    "Get Final Video 2": {
      "main": [[{"node": "If 11", "type": "main", "index": 0}]]
    },
    "If 11": {
      "main": [[{"node": "Get Video 8", "type": "main", "index": 0}], [{"node": "Wait 11", "type": "main", "index": 0}]]
    },
    "Get Video 8": {
      "main": [[{"node": "Update Generation Status", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "riverz-ugc-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "riverz-integration"
  },
  "id": "RiverzUGCWorkflow",
  "tags": ["riverz", "ugc", "video-generation"]
}

